.btn-close {
  box-sizing: content-box;
  width: 0.5em;
  height: 0.5em;
  padding: 0.5em 0.5em;
  color: rgb(0, 0, 0);
  background-color: white;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
  background: transparent
    url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z%27/%3e%3c/svg%3e');
}
.modal-header .btn-close {
  padding: 0.3rem 0.3rem;
  margin: 0.5rem 0.5rem;
}
.btn-close:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.75;
}

div#customer-table_filter {
  float: right;
}

/* div#customer-table_info {
  float: left;
}

div#customer-table_paginate {
  float: right;
} */
